*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 50;

}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.center-items {
    align-items: center;
    gap: 5px;
}
.navlogo {
    height: 30px;
}

.cara-logo {
    display: flex;
    align-items: center;
}

.search-bar {
    height: 10px;
}
.main-logo {
    width: 100%;
    height: 500px;
}
nav a {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;  
    color: black;
}
nav li {
    margin: 1rem;
    padding: 1rem;
    
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hr-1 {
    border: 2px solid black;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
}

.hr-2 {
    border: 2px solid black;
    width: 60%;
    margin-top: 3rem;
}

.hr-3 {
    border: 2px solid black;
    width: 60%;
    margin-left: 8rem;
    margin-top: 3rem;
}

.hr-4 {
    border: 1.5px solid black;
    width: 120%;
    margin-bottom: 0.3rem;
    margin-top: .5rem;
}

.main-container {
    margin-left: 8rem;
}
.about {
    
    margin-top: 6rem;
    font-size: 3em;
}

/* I tried with the about section with flexbox. In my head I know what I want to do but how I am trying to make it work wasnt working. */
.info-1 {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
}

.info-2 {
    /* display: flex;
    flex-direction: column; */
    
}
 
.about-img-left {
    width: 300px;
    height: 440px;
    margin-top: 3rem;
    /* display: flex;
    justify-items: end; */
}

.about-img-right {
    width: 410px;
    height: 558px;
    /* display: flex;
    flex-direction: row-reverse;
    justify-items: end; */

}
.product {
    margin-left: 8rem;
    margin-top: 6rem;
    font-size: 3em;
}
.product-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 8rem;
}

.product-image {
    width: 260px;
    height: 240px;
}

.product-card {
    display: flex;
    flex-direction: column;
    
}
.product-card p {
    overflow-wrap: break-word;
    max-width: 260px;
}
.product-label {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    margin-top: 0.5rem;
    
}

.product-label a {
    text-decoration: none;
    color: black;
}
.product-suggestion {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.product-learn {
    color: #BF7631;
}


.send {
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
    margin-bottom: 4rem;
    

    
}

.footer-container {
    background-color: #BF7631;
    display: flex;
    flex-direction: column;
}
.order-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.order-column {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
}

.footer-container img {
    height: 50px;
    
}
